

/* NEW PATIENT PROFILE */
.text{
    display: block;
    text-align: center;
    margin-top: 30px ;
}

.text h1{
    
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #000000;

}

.text h2{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;

}

.bigbox{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red 1px solid;
    height: auto;
}

.infobox{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 610px;
    background-color: #532C591C ;
    border-radius: 30px;
}


.input{
    width: 500px;
    margin-top: 120px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rebeccapurple;
    gap: 55px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
}

label{
    width: 220px;
    display: inline-block;
    
}

/* .sec-newpaprofile{
    display: flex;
    align-items: center;

} */

/* #newpa{
   
    width: 569px;
    height: 56px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
} */
/* #addhere{
    
    width: 575px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #532C59;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.infobox{
    position: absolute;
    width: 1301px;
    height: 611px;
    left: 70px;
    top: 216px;
    background: rgba(83, 44, 89, 0.11);
    border-radius: 30px
}
    .petname1{
        position: absolute;
        width: 1000 px;
        height: 100px;
        left: 138px;
        top: 336px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 1000;
        font-size: 25px;
        line-height: 20px;

        color: #000000;
        border-bottom: 2px solid #F8E0FB;
    }
 */
