@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Features / Tablet / 05 */

a.inner_menu{margin: 0 auto; width: 1440px;}
.inner_menu ul{margin: 0; padding: 30px;list-style: none;}
.inner_menu ul li{ float: none; display: inline-block;}
.inner_menu ul li a{color: #414141; text-decoration: none; font-family: "Space Grotesk",sans-serif;padding: 1px 20px; }
.inner_menu ul li a:hover{color: #062729;}

.logo{
    position: absolute;
    width: 141px;
    height: 150px;
    left:50%;
    align-items: center;
    background: url(logo.png);
}



/* Navigation / Desktop / 11 */

#menu{
box-sizing: border-box;

position: absolute;
width: 1440px;
height: 76px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-bottom: 1px solid #F8E0FB;
}body{
    margin: 0px;
    width: 100%;
    position: relative;
    height: 2789px;
    background: #FFFFFF;
}
/* NEW PATIENT PROFILE */

#newpa{
    width: 569px;
    height: 56px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* identical to box height, or 140% */
    text-align: center;
    /* Black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* ADD PAIENT PROFILE HERE */
#addhere{
    width: 505px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Accent */
    color: #532C59;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
/* Rectangle 2 */


position: absolute;
width: 1301px;
height: 611px;
left: 70px;
top: 216px;

background: rgba(83, 44, 89, 0.11);
border-radius: 30px;


/* Button Wrapper - Horizontal */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 119px;
height: 52px;
left: 1027px;
top: 561px;



/* Name */


position: absolute;
width: 260px;
height: 32px;
left: 359px;
top: 628px;



/* OWNER PHONE: */


position: absolute;
width: 178px;
height: 20px;
left: 139px;
top: 636px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 80% */


color: #000000;



/* Name */


position: absolute;
width: 260px;
height: 32px;
left: 359px;
top: 555px;



/* OWNER NAME: */


position: absolute;
width: 167px;
height: 20px;
left: 139px;
top: 561px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 80% */


color: #000000;



/* Menu Vertical */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px;
gap: 17px;

position: absolute;
width: 260px;
height: 34px;
left: 359px;
top: 479px;

/* White */

background: #FFFFFF;
/* Gray/0 */

box-shadow: 0px 0px 50px -10px rgba(41, 41, 41, 0.08);
border-radius: 6px;


/* DATE OF BIRTH */


position: absolute;
width: 172px;
height: 20px;
left: 138px;
top: 486px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 80% */


color: #000000;



/* PET TYPE: */


position: absolute;
width: 115px;
height: 20px;
left: 138px;
top: 411px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 80% */


color: #000000;



/* Menu Vertical */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px;
gap: 17px;

position: absolute;
width: 260px;
height: 34px;
left: 359px;
top: 404px;

/* White */

background: #FFFFFF;
/* Gray/0 */

box-shadow: 0px 0px 50px -10px rgba(41, 41, 41, 0.08);
border-radius: 6px;


/* PET NAME: */


position: absolute;
width: 125px;
height: 20px;
left: 138px;
top: 336px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 80% */


color: #000000;



/* Name */


position: absolute;
width: 260px;
height: 32px;
left: 359px;
top: 330px;



/* Ellipse 1 */


box-sizing: border-box;

position: absolute;
width: 265px;
height: 265px;
left: 940px;
top: 272px;

background: #FFFFFF;
border: 5px solid #1A7276;


/* Add patient button */


position: absolute;
width: 474px;
height: 60px;
left: 820px;
top: 745px;
