
a{
    color: #414141;
    display: inline-block;
    padding: 1px 20px;
    text-decoration: none;
    font-family: "Space Grotesk",sans-serif;
}
#nav{
header{
    font-size: 45 px;
    padding-inline-start: 2em;
    color: black;
    box-sizing: border-box;

    position: absolute;
    width: 1440px;
/*HEAD*/
    height: 76px;
    left: 0px;
    top: 0px;

background: #FFFFFF;
border-bottom: 1px solid #F8E0FB;
}
body{

    position: relative;
    width: 1440px;
    height: 2789px;
    background: #FFFFFF;
}

h1{ 
    width: 856px;
    height: 192px;

    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    /* or 120% */

    text-align: center;

    color: #1A7276;

    text-shadow: -5px 5px 0px #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#part1{
    position: absolute;
    height: 500px;
    left: 0px;
    right: 0px;
    top: calc(50% - 500px/2 - 1068.5px);

}
#banner {


    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 856px;
    height: 332px;
    left: calc(50% - 856px/2 + 262px);
    top: 104px;

    background: #FFFFFF;

}

#pbanner:not(h1){
    width: 760px;
    height: 24px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Accent */

    color: #532C59;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

#start:not(#banner){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    color: #FFFFFF;

    width: 83px;
    height: 52px;

    /* Accent */

    background: #532C59;
    border-radius: 15px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#pic1 {
    position: absolute;
    width: 367px;
    height: 423px;
    left: 248px;
    top: 64px;
    
    background: url(.png);

    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 2px solid #F8E0FB;

}
header a{
    overflow-x: 70px;
    overflow-y: 16px;
    width: 200px;
    height: 10px;
    color: #414141;
    display: inline-block;
    padding:5px 5px;
    text-decoration: none;
    font-family: "Space Grotesk",sans-serif;
 }
